@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');

.barra-navegacao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    

    background-color: #000;
    color: #a7a000;

    font-family: "Caesar Dressing", system-ui;
}

.logo-zoo {
    width: 25%;

}

.navbar-opcoes{
    width: 75%;

    display: flex;
    margin-right: 2% ;
}

.navbar-opcoes > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    
    width: 100%;
}

li{
    padding: 0 2%;
    font-size: 1.5rem;
}