input {
    background-color: white;
    color: black;
}

.input{
    width: 500px;
    height: 30px;
}

.tudo{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.forms{
    display: flex;
    flex-direction: column;
    
}

label{
    margin-top: 30px;
}

.bottao{
    margin-top: 30px;
    background-color: black !important;
    color: white!important;
}

.titulo{
    margin-top: 40px;
}

select {
    background-color: black !important;
    color: white!important;
}