form {
    display: flex;
    flex-direction: column;

    width: 75%;
    margin: 2.5% auto;
}

input {
    background-color: white;
    color: black;
    width: 50%;
}

select, button {
    width: 50%;
    background-color: black !important;
    color: white !important;
}

form button {
    width: 50%;
    margin: 1% auto;
}

label {
    margin-top: 1%;
}

h2 {
    margin-top: 2%!important;
}